#{$all-text-inputs} {
  background: white;
  border: none;
  padding: 1.3rem;
  display: inline-block;
  width: 100%;
  outline: none;
  font-size: 1.5rem;
  font-family: $primary-font;
  font-weight: 300;
}

.field {
  display: block;
  margin-bottom: 2rem;

  &.half {
    @include span-columns(6);
    @include omega(2n)
  }
}

label {
  color: white;
  display: block;
  margin-bottom: 0.5rem;
}