/*=================================
=            Variables            =
=================================*/

/*----------  fonts  ----------*/
@import 'https://fonts.googleapis.com/css?family=Cabin:400,500,700';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
@import 'https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&subset=latin-ext';

$primary-font: 'Georgia', sans-serif !default;
$heading-font: 'Roboto', sans-serif !default;
$admin-font: 'Dosis', sans-serif !default;

/*----------  colors  ----------*/

$primary-color: #000022 !default;
$secondary-color: #c7b38e !default;
$link-color: $primary-color !default;
$dark-color: #1C1C1C !default;

$color-text: #313131 !default;

/*----------  base  ----------*/

$container-width: 1024px !default;
$base-space-unit: 1rem  !default;