.contactUs {
    background-color: #ffb4b4;
    width: 100%;
    .contactWrapper {
        width: 50%;
        margin: 2rem auto;
        background-color: #fff;
    }
    h2 {
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 3rem 0 2rem 0;
    }
}