
.features {
    display: flex;
    flex-direction: column;
    background: #fafafa;
    width: 100%;
    h2 {
        padding-top: 4rem;
        font-size: 3rem;
        font-weight: 300;
        line-height: 2.5rem;
        text-align: center;
    }
    p {
        text-align: center;
        color: #666;
        line-height: 1.8 rem;
        font-weight: 300;
    }
    .wrapper {
        width: 80%;
        margin: 0 10%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .box {
        width: 25%;
        height: 300px;
        margin: 3rem;
        background: #fff;
        flex-grow: 1;
    }
}