.members {
    width: 100%;
    background-color: #F5F5F5;
    .wrapper {
        width: 80%;
        margin: 0 10%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 1.5rem;
    }
    .main-p {
        text-align: center;
        color: #666;
        font-weight: 300;
        width: 100%;
        line-height: 1.8rem;
        margin-top: 0;
    } 

    h2 {
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
        width: 100%;
    }
    .card {
        max-width: 200px;
        min-width: 200px;
        min-height: 330px;
        margin: 2rem;
        background: #fff;
        flex: 1;
        .profileImg {
            background-image: url("../img/profilePic.jpg");
            height: 250px;
            background-size: 100%;
            background-repeat: no-repeat;
        }
        h4 {
            text-align: center;
            color: #666;
        }
        span {
            text-align: center;
            display: block;
            color: #666;
        }
    }
}
