
.projectWrapper {
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    h2 {
        padding-top: 4rem;
        font-size: 3rem;
        font-weight: 300;
        line-height: 2.5rem;
        text-align: center;
        width: 100%;
    }
    .main-p {
        text-align: center;
        color: #666;
        line-height: 1.8 rem;
        font-weight: 300;
        width: 100%;
    } 
    .btn-secundary {
        border: none;
        padding: 2.3rem 4.1rem;
        font-size: 1.8rem;
        background: rgb(50, 93, 255);
        color: #fff;
        border-radius: 4.1rem;
        text-transform: uppercase;
        outline: none;
        cursor: pointer;
         letter-spacing: 0.2rem;
            img {
                padding-left: 1rem;
            }    
    }
}