
.container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding-bottom: 0;
    h2 {
        font-size: 3rem;
        font-weight: 300;
        line-height: 5rem;
    }
    p {
        font-weight: 300;
        color: #666;
        line-height: 1.8rem;
    }
    .item {
        flex-grow: 1;
        flex-basis: 50%;
    }
    .col6-2 {
        background-image: url("../img/start.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    .col6 {
        padding: 4rem;
        box-sizing: border-box;
        overflow: hidden;
    }
}