@import 'header';
@import 'section1';
@import 'features';
@import 'media';  
@import 'videoWrapper'; 
@import 'sectionProjects'; 
@import 'members'; 

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-size: 1.2rem; 
    margin: 0; 
}


